<div class="container" style="Margin-top:100px">
<table class="styled-table">
  <thead>
      <tr>
          <th>Course Name</th>
          <th>Course Hours</th>
          <th>Course Cost</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>
          ASP .NET
        </td>
        <td>
          120 Hours
        </td>
        <td>
            500$
        </td>
    </tr>
    <tr>
        <td>
          Android Application
        </td>
        <td>
          100 Hours
        </td>
        <td>
            400$
        </td>
    </tr>   
     <tr>
        <td>
          Networking
        </td>
        <td>
           240 Hours
        </td>
        <td>
            1000$
        </td>
    </tr>
  </tbody>
  </table>
</div>